.container__l {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
}

.info__page .title {
  text-align: center;
}
.title {
  margin-bottom: 80px;
}
.info__page h5 {
  color: var(--color-charcoal-black);
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;

  text-align: left;
}

.info__page p {
  margin-bottom: 30px;
  color: var(--color-charcoal-black);

  font-size: 20px;
  font-weight: 300;
  line-height: 27px;

}

.faq__page {
  padding-top: 80px;
  padding-bottom: 120px;
}

.faq__item {
  border-top: var(--border);
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.faq__list .faq__item:last-child {
  border-bottom: var(--border);
}

.faq__item-title {
  padding: 40px;
  width: 42%;
}
.faq__item-answers {
  border-left: var(--border);
  width: 58%;
}
.faq__item-answer {
  width: 100%;
  padding: 40px;

  border-bottom: var(--border);
}

.faq__item-answer h4 {
  margin-bottom: 30px;
}

.faq__item-answers .faq__item-answer:last-child {
  border-bottom: none;
}

.description p span {
  font-weight: 400;
}
.faq__item-answer span {
  padding-right: 10px;
}
.faq__item-answer_contacts p {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .info__page {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .faq__item {
    flex-direction: column;
  }
  .faq__item-title,
  .faq__item-answers {
    width: 100%;
  }
  .faq__item-answers {
    border-left: none;
  }
  .faq__item-title {
    padding: 14px 20px;
    border-bottom: var(--border);
  }
  .faq__item-answer {
    padding: 14px 20px;
  }
}

@media (max-width: 480px) {
  .container__l, .faq__page {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .title {
    margin-bottom: 50px;
  }
  .info__page .title {
    margin-bottom: 50px;
  }
  .info__page p,
  .info__page h5 {
    font-size: 12px;
    line-height: 16px;
  }
  .info__page h5 {
    margin-bottom: 6px;
  }
  .faq__item-answer h4 {
    margin-bottom: 14px;
  }
  .faq__item-answer p,
  .faq__item-answer h4 {
    font-size: 12px;
    line-height: 16px;
  }
  .info__page p {
    margin-bottom: 20px;
  }
}
