@font-face {
	font-family: 'Italiana';
	src: url('../fonts/Italiana-Regular.woff2') format('woff2'),
		url('../fonts/Italiana-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../fonts/NotoSans-Light.woff2') format('woff2'),
		url('../fonts/NotoSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../fonts/NotoSans-Regular.woff2') format('woff2'),
		url('../fonts/NotoSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-base: 'NotoSans', sans-serif;
	--font-heading: 'Italiana', serif;

	--color-charcoal-black: #161616;
	--color-pale-blush: #f7f2ef;
	--color-cherry-wine: #5e0303;
	--color-cherry-wine-04: rgba(94, 3, 3, 0.4);
	--color-bg: #f9f7f0;

	--container-width: 1360px;
	--container-padding-x: 15px;

	--container-fluid-width: 1440px;

	--border: 0.4px solid var(--color-cherry-wine-04);

	--transition-duration: 0.2s;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-base);
	font-weight: 300;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.02em;
	color: var(--color-charcoal-black);
	background-color: var(--color-pale-blush);
}

img {
	display: block;
	max-width: 100%;
}

button {
	display: inline-block;
	font: inherit;
	font-weight: 400;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

.field {
	display: inline-block;
	height: 38px;
	padding-inline: 20px;
	font: inherit;
	font-size: 18px;
	font-weight: 400;
	color: inherit;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--color-cherry-wine);
	border-radius: 0;
}

.field::placeholder {
	font: inherit;
	font-size: 18px;
	font-weight: 400;
	color: inherit;
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	padding-inline: var(--container-padding-x);
	margin-inline: auto;
}

.container-fluid {
	max-width: var(--container-fluid-width);
	margin-inline: auto;
}

.description *:first-child {
	margin-top: 0;
}

.description *:last-child {
	margin-bottom: 0;
}

.title {
	font-family: var(--font-heading);
	font-size: 64px;
	font-weight: 400;
	letter-spacing: 0;
	color: var(--color-cherry-wine);
}

.title sup {
	vertical-align: top;
	font-family: var(--font-base);
	font-size: 20px;
	color: var(--color-charcoal-black);
}

.subtitle {
	font-family: var(--font-heading);
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 0;
	color: var(--color-cherry-wine);
}

.button {
	--bg: var(--color-cherry-wine);
	--color: var(--color-pale-blush);
	--borderColor: var(--color-cherry-wine);

	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	padding: 10px 20px;
	font-size: 22px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0;
	color: var(--color);
	background-color: var(--bg);
	border: 1px solid var(--borderColor);
	cursor: pointer;
	transition: color var(--transition-duration),
		background-color var(--transition-duration);
}

.button--transparent {
	--bg: transparent;
	--color: var(--color-cherry-wine);

	height: 40px;
	font-size: 20px;
}

.link-line {
	font-weight: 400;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--color-cherry-wine);
	transition: color var(--transition-duration);
}

.actions {
	display: flex;
	align-items: center;
	padding-left: 0;
	column-gap: 10px;
	list-style: none;
}

.actions__item {
	position: relative;
	padding-right: 10px;
}

.actions__item:not(:last-child)::after {
	content: '';
	position: absolute;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: var(--color-cherry-wine);
}

.actions__button {
	transition: opacity var(--transition-duration);
}

.actions__button:not(.is-active) {
	opacity: 0.4;
}

.actions--variant-black .actions__button {
	opacity: 1;
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--column), 1fr);
	border-block: var(--border);
	list-style: none;
}

.grid--3-cols {
	--column: 3;
}

.grid--4-cols {
	--column: 4;
}

.grid--3-cols .grid__item:not(:nth-child(3n)) {
	border-right: var(--border);
}

.grid--4-cols .grid__item:not(:nth-child(4n)) {
	border-right: var(--border);
}

.grid--3-cols .grid__item {
	translate: 0 0.4px;
	border-bottom: var(--border);
}

/* product card */

.card-product {
	position: relative;
}

.card-product__image {
	width: 100%;
	object-fit: contain;
	transition: opacity var(--transition-duration);
}

.card-product__body {
	padding: 0 40px 40px;
}

.card-product__header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	column-gap: 16px;
	font-size: 18px;
	font-weight: 400;
}

.card-product__title {
	transition: opacity var(--transition-duration);
}

.card-product__price {
	font-weight: inherit;
	text-align: right;
}

.card-product__info {
	margin-block: 0 40px;
	padding-left: 0;
	list-style: none;
}

.card-product__info-item {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-size: 18px;
}

.card-product__info-value {
	font-style: italic;
	opacity: 0.6;
}

.card-product__button {
	position: relative;
	z-index: 5;
	width: 100%;
}

.card-product__link {
	position: absolute;
	inset: 0;
}

/* header */

.header {
	border-bottom: var(--border);
}

.header:has(~ main > [class*='hero']:first-child) {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	color: var(--color-cherry-wine);
}

.header__inner > * {
	display: flex;
	min-height: 65px;
}

.header__logo {
	padding-right: 40px;
	border-right: var(--border);
}

.header__menu-list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header__actions {
	display: flex;
	align-items: center;
	column-gap: 20px;
	padding-left: 40px;
	margin-block: 0;
	border-left: var(--border);
	list-style: none;
}

.header__actions-control {
	color: inherit;
}

/* hero */

.hero {
	position: relative;
}

.hero__bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero__inner {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100dvh;
	padding-block: 80px;
}

.hero__header {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: var(--border);
}

.hero__title {
	font-family: var(--font-heading);
	font-size: 122px;
	font-weight: 400;
	line-height: 0.9;
	color: var(--color-cherry-wine);
}

.hero__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
}

.hero__description {
	max-width: 440px;
}

.hero__button {
	min-width: 263px;
}

/* Discover Nimfa */

.discover-nimfa {
	margin-bottom: 40px;
}

.discover-nimfa__header {
	border-top: var(--border);
}

.discover-nimfa__header-inner {
	display: flex;
	align-items: center;
	column-gap: 16px;
	justify-content: space-between;
	padding-block: 40px;
}

/* Shop by Need */

.shop-need {
	margin-bottom: 120px;
}

.shop-need__header {
	margin-bottom: 40px;
}

.shop-need__items {
	gap: 20px;
}

.shop-need__item {
	position: relative;
	min-height: 750px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.shop-need__image {
	position: absolute;
	inset: 0;
	width: 100%;
}

.shop-need__item-body {
	position: relative;
	z-index: 5;
	padding: 0 40px 40px;
}

.shop-need__button {
	width: 100%;
}

/* About us */

.about-us {
	margin-bottom: 40px;
	border-block: var(--border);
}

.about-us__item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.about-us__item:nth-child(even) .about-us__body {
	max-width: 595px;
	padding-inline: 0 155px;
	margin-left: auto;
}

.about-us__item:nth-child(even) .about-us__header {
	max-width: 365px;
	margin-bottom: 0;
	text-align: right;
}

.about-us__header {
	margin-bottom: auto;
}

.about-us__body {
	display: flex;
	flex-direction: column;
	max-width: 680px;
	padding: 80px 0 80px 125px;
}

.about-us__label {
	display: block;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
}

.about-us__title {
	font-size: 44px;
}

.about-us__content {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 60px;
	padding-bottom: 80px;
	margin-bottom: 80px;
}

.about-us__content::after {
	content: '';
	position: absolute;
	left: -50vw;
	bottom: 0;
	z-index: -1;
	width: 100vw;
	height: 0.4px;
	background-color: var(--color-cherry-wine-04);
}

.about-us__author {
	position: relative;
	padding-left: 60px;
	font-weight: 400;
	font-style: normal;
}

.about-us__author::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	translate: 0 -50%;
	width: 40px;
	height: 1px;
	background-color: var(--color-cherry-wine);
}

.about-us__extra {
	text-align: right;
}

.about-us__extra .about-us__label {
	margin-bottom: 40px;
}

.about-us__link-line {
	margin-top: 30px;
}

/* Follow instagram */

.follow-instagram {
	margin-bottom: 120px;
}

.follow-instagram__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
	margin-bottom: 40px;
}

.follow-instagram__link {
	font-weight: 400;
}

.follow-instagram__body {
	border-block: var(--border);
}

.follow-instagram__media {
	margin-inline: auto;
	max-width: 480px;
	height: 700px;
	background-color: var(--color-bg);
}

/* Footer */

.footer {
	padding-bottom: 120px;
}

.footer__body {
	margin-bottom: 20px;
	border-block: var(--border);
}

.footer__inner {
	display: flex;
	align-items: start;
	justify-content: space-between;
	column-gap: 16px;
}

.footer__form {
	max-width: 400px;
	padding-block: 40px 80px;
}

.footer__field {
	width: 100%;
}

.footer__description {
	margin-bottom: 30px;
	font-weight: 400;
}

.footer__description em {
	color: var(--color-cherry-wine);
}

.footer__menus,
.footer__links-box {
	display: flex;
}

.footer__links {
	padding-block: 20px 80px;
	padding-left: 20px;
	padding-right: 120px;
	border-left: var(--border);
	list-style: none;
}

.footer__item + .footer__item {
	margin-top: 10px;
}

.footer__link {
	font-weight: 400;
	line-height: 1;
	color: var(--color-cherry-wine);
}

.footer__extra {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
}

.footer__extra-links {
	display: flex;
	align-items: center;
	column-gap: 60px;
	list-style: none;
}

/* Collection */

.collection {
	margin-block: 80px 120px;
}

.collection__header-body {
	padding-bottom: 80px;
	border-bottom: var(--border);
}

.collection__header-body-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
}

.collection__description {
	max-width: 440px;
}

.collection__controls {
	padding-block: 40px;
}

.collection__controls-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
}

.collection__body {
	border-bottom: var(--border);
}

.collection__pagination {
	padding-block: 38px;
}

.collection__pagination-button {
	min-width: 259px;
}

/* hover */

@media (any-hover: hover) {
	.button:not(.button--transparent):hover {
		background-color: var(--color-charcoal-black);
	}

	.button.button--transparent:hover {
		--bg: var(--color-cherry-wine);
		--color: var(--color-pale-blush);
	}

	.actions__button:hover {
		opacity: 1;
	}

	.card-product:hover :is(.card-product__image, .card-product__title) {
		opacity: 0.6;
	}

	.link-line:hover {
		color: var(--color-cherry-wine);
	}
}

@media (any-hover: none) {
	.button:not(.button--transparent):active {
		background-color: var(--color-charcoal-black);
	}

	.actions__button:active {
		opacity: 1;
	}

	.card-product:active :is(.card-product__image, .card-product__title) {
		opacity: 0.6;
	}

	.link-line:active {
		color: var(--color-cherry-wine);
	}
}
